<%- include('template/header'); %>
        <div class="card-tarefas">

            <ul class="">
               
                <% todoTasks.forEach(details => { %>
                <% if (details._id == idTask) { %>
                <li class="lista-item">
                    <form action="/edit/<%= details._id %>" method="POST">
                        <input type="text" value="<%= details.content %>" name="content">
                        <button type="submit">Confirm</button>
                        <a href="/" class="cancel">Cancel</a>
                    </form>
                </li>
                <% } else { %>

                <li class="lista-item">
                    <div class="todo-list-item-name"><%= details.content %></div>
                    <a href="/edit/<%= details._id %>" class="edit">   <i class="fa-solid fa-pen"></i> </a>
                    <a href="/remove/<%= details._id %>" class="remove">  <i class="fa-solid fa-xmark"></i> </a>
                </li>
                <% } %>
                <% }) %>
            </ul>
        </div>
<%- include('template/footer'); %>