<%- include('template/header'); %>
<script src="/static/functions/list.js"></script>
    <div class="row">
        <div class="col central-menu">
            <a href="#" class="btn btn-add" data-toggle="modal" data-target="#ModalAdiciona"><i class="fa-solid fa-circle-plus"></i></a>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="ModalAdiciona" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-tarefa">
                <form id='formAdd' method="POST">
                <div class="modal-header">

                    <input type="text" placeholder="Título" name="title" required>
                

                </div>
                <div class="modal-body">
                    <textarea name="content" id="content" placeholder="Conteúdo"></textarea>
                  
                </div>
                <div class="modal-footer">
                    <button type="submit">Confirm</button>
                    <a href="/" class="cancel">Cancel</a>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </form>
                </div>
            </div>
            </div>
        </div>


    </div>
    
    <div class="row">
        <div class="col">
            <div class="card-tarefas">
                
                <div>
                    <script> desenharLista(<%todoTasks%>)</script>
                    <% todoTasks.forEach(details => { %>
                    <div class="lista-item" id='lista-item'>
                        
                        <div class="lista-item-corpo">
                            <div class="lista-item-titulo"><%= details.title %></div>
                        
                            <div class="card-item-customizado">
                                <div class="lista-item-conteudo" data-toggle="modal" data-target="#ModalTarefa-<%= details._id %>"><%= details.content %>
                                </div>
                                
                                <div class="lista-item-menu btn-group" role="group">
                                    
                                    <div class="btn-group btn-menu" role="group">
                                        <a id="btnGroupDrop1"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa-solid fa-ellipsis-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <!--  <a href="/edit/<%= details._id %>" class="edit dropdown-item">
                                                <i class="fa-solid fa-pen"></i> Editar
                                            </a>-->
                                        
                                            <a href="/remove/<%= details._id %>" class="remove dropdown-item">
                                                <i class="fa-solid fa-xmark"></i> Excluir
                                            </a> 
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>                   
                    </div>


                    <!-- Modal -->
                    <div class="modal fade" id="ModalTarefa-<%= details._id %>" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content modal-tarefa">
                            <form action="/edit/<%= details._id %>" method="POST">
                            <div class="modal-header">
        
                                <input type="text" value="<%= details.title %>" id="id="TituloModalCentralizado"" name="title">
                            

                            </div>
                            <div class="modal-body">
                                <textarea name="content" id="content" > <%= details.content %></textarea>
                              
                            </div>
                            <div class="modal-footer">
                                <button type="submit">Confirm</button>
                                <a href="/" class="cancel">Cancel</a>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </form>
                            </div>
                        </div>
                        </div>
                    </div>

                    <% }) %>
            </div>
        </div>
    </div>
    
<%- include('template/footer'); %>