<%- include('template/header'); %>

    <div class="row">
        <div class="col central-menu">
            <a href="#" class="btn btn-add" id="btnModalSave" data-target="#ModalAdiciona" data-toggle="modal"><i class="fa-solid fa-circle-plus"></i></a>
        </div>

        <!-- Modal -->
        <div class="modal fade modal-save-fade modal-save-show" id="ModalAdiciona" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content modal-tarefa modal-save">
                    <form id="formSave" action="/save" method="POST">
                        <div class="modal-header">
                            <input type="text" placeholder="Título" name="title" id="title" required>
                        </div>
                        <div class="modal-body">

                           <!-- <div name="content" id="content"></div> editor de texto Quill -->
                            <textarea name="content" id="content" placeholder="Conteúdo"></textarea> 
                        </div>
                        <div class="modal-footer">
                            <div class="selecao-cor">
                                <span>Sua cor favorita em seus lembretes</span>
                                <div class="color-palette">
                                    <% colors.forEach(color => { %>
                                        
                                        <input type="radio" id='color-save-<%=color.code%>' class='color-save'  name='color-save' value='{"name":"<%=color.name%>", "code":"<%=color.code%>"}'>
                                        <label for="color-save-<%=color.code%>" class='label-color' style="background-color: <%=color.code%> !important; border: 0.5px solid <%=color.code%>"></label>
                                    <% }) %>                                
                                </div>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
    <div class="row">
        <div class="col">
            <div class="card-tarefas">
                
                <div id="lista-dados">
                    
                    <% todoTasks.forEach(details => { %>
                    <div class="lista-item" id='lista-item'>
                        
                       
                            
                        <div class="lista-item-corpo">
                            <div class="lista-item-titulo"><%= details.title %></div>
                            <div class="card-item-customizado" style="background-color: <%=details.color%> !important;">
                               
                                <a class='btnModalUpdate'  data-toggle="modal" data-target="#ModalTarefa" data-id='<%= details._id %>' data-color="<%=details.color%> " data-title="<%= details.title %>" data-content="<%= details.content %>">
                                    <div class="lista-item-conteudo">  
                                        <%= details.content %> 
                                    </div>
                                </a>
                                
                                <div class="lista-item-menu btn-group" role="group">
                                    
                                    <div class="btn-group btn-menu" role="group">
                                        <a id="btnGroupDrop1"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa-solid fa-ellipsis-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                            <button class="remove dropdown-item btn-remove delete-button" data-id="<%= details._id %>"> <i class="fa-solid fa-xmark"></i> Excluir</button>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>
                                         
                    </div>
                    <% }) %>

            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade modal-update-show modal-update-fade" id="ModalTarefa" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-tarefa modal-update" >
                
                <form id='formUpdate' data-id="" method="PUT">
                
                    <div class="modal-header">
                        <input type="text" value="" name="titleUpdate" id="titleUpdate">
                    </div>

                    <div class="modal-body">
                        <textarea name="content" id="contentUpdate" name="contentUpdate"></textarea>
                    </div>

                    <div class="modal-footer">
                        <div class="selecao-cor">
                            <span>Sua cor favorita em seus lembretes</span>
                            <div class="color-palette">
                                <% colors.forEach(color => { %>
                                    
                                    <input type="radio" id='color-update-<%=color.name%>' class='color-update' name='color-update' value='{"name":"<%=color.name%>", "code":"<%=color.code%>"}'>
                                    <label for='color-update-<%=color.name%>' class='label-color' style="background-color: <%=color.code%> !important; border: 0.5px solid <%=color.code%>"></label>
                                <% }) %>                                
                            </div>
                        </div>
                    </div>

                </form>
            
            
            </div>
        </div>
    </div>


    <script>
        var quill = new Quill('#content', {
        theme: 'snow', // 'snow' é um tema pré-construído, mas você pode personalizá-lo conforme necessário
        modules: {
            toolbar: [
            ['bold', 'italic', 'underline', 'strike'], // opções de formatação
            //['link', 'image', 'video'], // outros recursos, como adicionar links, imagens e vídeos
            ]
        }
        });



    </script>

    <script src="/static/functions/list.js"></script>
    
<%- include('template/footer'); %>